[data-component='sticky-text-card'].section-card-view {
  padding-top: 10vw;
  .sticky-wrapper {
    height: 108.333333vw;
    position: relative;
  }
  .sticky-title {
    position: sticky;
    width: 100%;
    height: auto;
    top: 16vh;
    font-size: 60px;
  }
  .sticky-content {
    position: sticky;
    width: 100%;
    height: auto;
    top: 30vh;
  }
  .section-wrapper {
    position: relative;
    display: flex;
    width: 70vw;
    margin: 0 auto;
  }
  .section-card {
    position: relative;
    flex-shrink: 0;
    width: 100%;
  }
  .section-card + .section-card {
    margin-left: 3.125vw;
  }
}

.section-card + .section-card .section-card-content {
  transform: scale(0.8);
  transform-origin: left;
  filter: blur(2px);
}
