@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-top: 2em;
  --card-color-1: #6d5dff;
  --card-color-2: #743ce3;
  --card-color-3: #4e00c2;

  --card-bg-image: linear-gradient(-45deg, #8534fe 50%, #b847ff 50%);
  --card-bg-filter: blur(72px);
}

@media (min-width: 960px) {
  :root {
    --card-bg-filter: blur(72px);
  }
  .filter-bg {
    width: 320px;
    height: 320px;
  }
}

@media (min-width: 640px) {
  :root {
    --card-bg-filter: blur(56px);
  }
  .filter-bg {
    width: 256px;
    height: 256px;
  }
}

.m-c {
  background: #3d435e;
  padding: 3px;
  position: relative;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.m-c:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.m-c:hover:before,
.m-c:hover:after {
  animation: none;
  opacity: 0;
}

.m-c::before {
  content: '';
  width: 101%;
  height: 102%;
  border-radius: 1.5rem;
  background-image: linear-gradient(
    var(--rotate),
    var(--card-color-1),
    var(--card-color-2) 43%,
    var(--card-color-3)
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -0.5%;
  animation: spin 2.5s linear infinite;
}

.m-c::after {
  position: absolute;
  content: '';
  top: calc(var(--card-top));
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(var(--card-top));
  background-image: linear-gradient(
    var(--rotate),
    var(--card-color-1),
    var(--card-color-2) 43%,
    var(--card-color-3)
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.filter-bg {
  opacity: 0.25;
  border-radius: 50%;
  background-image: var(--card-bg-image);
  filter: var(--card-bg-filter);
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -30%);
  pointer-events: none;
}
