.tl-container {
  width: 90%;
  margin: 0 auto;
  background: rgba(43, 52, 58, 0.02);
  padding: 0 10%;
  border-radius: 20px;
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  .tl-timeline-block {
    position: relative;
    margin: 2em 0;
  }
  .tl-timeline-block:after {
    content: '';
    display: table;
    clear: both;
  }
  .tl-timeline-block:first-child {
    margin-top: 0;
  }
  .tl-timeline-block:last-child {
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1170px) {
    .tl-timeline-block {
      margin: 4em 0;
    }
    .tl-timeline-block:first-child {
      margin-top: 0;
    }
    .tl-timeline-block:last-child {
      margin-bottom: 0;
    }
  }

  .tl-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #7e57c2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  .tl-timeline-img {
    background: #673ab7;
  }
  @media only screen and (min-width: 1170px) {
    .tl-timeline-img {
      width: 30px;
      height: 30px;
      left: 50%;
      margin-left: -15px;
      margin-top: 15px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }
  }

  .tl-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #333c42;
    border-radius: 2px;
    padding: 1em;
    .timeline-content-info {
      background: #2b343a;
      padding: 5px 10px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
      border-radius: 2px;
      i {
        margin-right: 5px;
      }
      .timeline-content-info-title,
      .timeline-content-info-date {
        width: calc(50% - 2px);
        display: inline-block;
      }
      @media (max-width: 500px) {
        .timeline-content-info-title,
        .timeline-content-info-date {
          display: block;
          width: 100%;
        }
      }
    }
    .content-skills {
      font-size: 12px;
      padding: 0;
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        background: #40484d;
        border-radius: 2px;
        display: inline-block;
        padding: 2px 10px;
        color: rgba(255, 255, 255, 0.7);
        margin: 3px 2px;
        text-align: center;
        flex-grow: 1;
      }
    }
  }
  .tl-timeline-content:after {
    content: '';
    display: table;
    clear: both;
  }
  .tl-timeline-content h2 {
    color: rgba(255, 255, 255, 0.9);
    margin-top: 0;
    margin-bottom: 5px;
  }
  .tl-timeline-content p,
  .tl-timeline-content .tl-date {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .tl-timeline-content .tl-date {
    display: inline-block;
  }
  .tl-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
  }

  .tl-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #333c42;
  }

  @media only screen and (min-width: 768px) {
    .tl-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem;
    }
    .tl-timeline-content p {
      font-size: 16px;
      font-size: 1rem;
    }
    .tl-timeline-content .tl-read-more,
    .tl-timeline-content .tl-date {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  @media only screen and (min-width: 1170px) {
    .tl-timeline-content {
      color: white;
      margin-left: 0;
      padding: 1.6em;
      width: 36%;
      margin: 0 5%;
    }
    .tl-timeline-content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #333c42;
    }
    .tl-timeline-content .tl-date {
      position: absolute;
      width: 100%;
      left: 133%;
      top: 6px;
      font-size: 16px;
      font-size: 1rem;
    }
    .tl-timeline-block:nth-child(even) .tl-timeline-content {
      float: right;
    }
    .tl-timeline-block:nth-child(even) .tl-timeline-content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: #333c42;
    }
    .tl-timeline-block:nth-child(even) .tl-timeline-content .tl-read-more {
      float: right;
    }
    .tl-timeline-block:nth-child(even) .tl-timeline-content .tl-date {
      left: auto;
      right: 133%;
      text-align: right;
    }
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: #7e57c2;
  }
}

@media only screen and (min-width: 1170px) {
  .tl-container {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .tl-container::before {
    left: 50%;
    margin-left: -2px;
  }
}
