.container {
  // border: 1px solid #e9ecef;
  max-height: 100vh;
  #svg-container {
    width: 100%;
    height: 70%;
  }
  #bg {
    opacity: 0.3;
  }
  .piece {
    cursor: pointer;
  }
  .piece-fixed {
    pointer-events: none;
    user-select: none;
  }
  .puzzle-text {
    user-select: none;
    fill: rgba(255, 255, 255, 0.8);
    font-family: 'Noto Sans KR', sans-serif;
  }
}
